---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import TagFilter from '../../components/TagFilter.astro';
import Card from '../../components/Card.astro';

const posts = await getCollection('posts');

// Get unique tags from all posts
const allTags = [...new Set(posts.flatMap(post => post.data.tags || []))];

// Get selected tags from URL params
const selectedTags = Astro.url.searchParams.get('tags')?.split(',').filter(Boolean) || [];
---

<Layout>
  <div class="posts-container">
    <h1>Posts</h1>
    
    <TagFilter tags={allTags} selectedTags={selectedTags} />

    <div class="posts-grid">
      {posts.map((post) => (
        <Card
          title={post.data.title}
          image={post.data.image}
          excerpt={post.data.excerpt}
          tags={post.data.tags}
          link={`/posts/${post.slug}`}
          linkText="Read more"
          type="post"
        />
      ))}
    </div>
  </div>
</Layout>

<style lang="scss">
  .projects-container, .posts-container {
    margin: 0 auto;
    padding: 2em 0 0 0;
    min-height: 0;
  }
  
  // posts-grid styling is now imported from grid.scss
</style>
