---
// src/pages/[...slug].astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

type Props = {
    entry: CollectionEntry<"projects">;
};

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((entry) => ({
        params: { slug: `projects/${entry.slug}` },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
    <div class="content-wrapper">
        <article>
            {
                entry.data.image && (
                    <img
                        class="lead-img"
                        src={entry.data.image}
                        alt={entry.data.title}
                    />
                )
            }
            <h1>{entry.data.title}</h1>

            {
                entry.data.tags && entry.data.tags.length > 0 && (
                    <div class="tags">
                        {entry.data.tags.map((tag: string) => (
                            <span class="tag">{tag}</span>
                        ))}
                    </div>
                )
            }

            <Content />

            {
                entry.data.link && (
                    <div class="project-link">
                        <a
                            href={entry.data.link}
                            class="nav-link"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            View Live Project
                        </a>
                    </div>
                )
            }
        </article>

        <div class="navigation">
            <a href="javascript:history.back()" class="nav-link back-link">← back</a>
            <a href="/" class="nav-link home-link">home</a>
        </div>
    </div>
</Layout>
